<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Meus Clientes</a>
    <div class="mr-auto">
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>  
    </div>  
    <div class="ml-auto">
        <button (click)="logout()" class="btn btn-sm btn-light">
            <i class="fas fa-sign-out-alt"></i>
            SAIR
        </button>
    </div>
</nav>
